<div class="conatiner shadow m-5 p-5">
  <h1>Shopping List</h1>

  <table class="table table-white">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>      
    </tr>
  </thead>
  <tbody>
      <% @recipe_food.each do |food| %> 
        <tr>
          <td><%= food.recipe_id %></td>          
          <td><%= food.food_id %></td>          
          <td>$ <%= food.quantity %></td>          
        </tr>
      <% end %>    
  </tbody>
</table>

</div>




